.ChoreCardContainer {
    padding: 16px;
    color: rgba(53, 58, 57, 0.897);
}

.ChoreCard a {
    color: rgba(232, 233, 227, 0.897);
    text-decoration: none;
}

.ChoreCard {
    float: left;
    margin: 1.5%;
    background: rgb(46, 111, 116);
    color: rgba(232, 233, 227, 0.897);
    width: 200px;
    height: 200px;
    padding: 1%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.ChoreCard:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}      

.ChoreItem {
    display: inline-block;
    /* float: left; */
    margin: 1.5%;
    background: rgb(46, 111, 116);
    color: rgba(232, 233, 227, 0.897);
    width: 50%;
    height: 300px;
    padding: 1%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
/* 
.hexagon {
    display: inline-block;
    text-align: center;
    position: relative;
    width: 300px; 
    height: 173.21px;
    background: rgb(46, 111, 116);
    color: rgba(232, 233, 227, 0.897);
    margin: 86.60px 0;
}
 
.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
}
  
.hexagon:before {
    bottom: 100%;
    border-bottom: 86.60px solid #2e6a6d;
}
  
.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 86.60px solid #2e6a6d;
} */
