.App {
  /* opacity: .97; */
  background-color: #7af0ea;
  text-align: center;
  color: rgba(53, 58, 57, 0.897);
}

.App::after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(53, 58, 57, 0.897);
}

.App-link {
  color: rgba(232, 233, 227, 0.897);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.span-col-2 {
  grid-column: span 2 / auto;
}

.mr-auto a {
  color: rgba(232, 233, 227, 0.897);
  text-decoration: none;
}